body {
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 500px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f8f9fa; /* Default Bootstrap light background */
    border-bottom: 1px solid #ddd;
    height: 60px; /* Adjust height as needed */
    padding: 0 20px; /* Adjust padding to control content spacing */
}

.navbar .navbar-brand img {
    height: 40px; /* Adjust height if needed */
    margin-top: 10px; /* Center align the logo vertically */
}

.navbar-toggler {
    border: none;
}

.navbar .navbar-nav .nav-item .nav-link {
    line-height: 60px; /* Align links vertically within the navbar */
}

.login-card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e8e8e8;
    box-shadow: 2px 2px 10px #ccc;
    margin-top: 80px; /* Add some top margin to avoid overlap with the navbar */
}

.card-header {
    text-align: center;
    margin-bottom: 20px;
}

.card-header .log {
    margin: 0;
    font-size: 24px;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ccc;
    color: black;
}
